{% extends "base.html" %}
{% block content %}

{% if user.is_authenticated %}
    <p>회원번호, {{ user.id }} !</p>
    <p>안녕하세요, {{ user.nickname }} 님!</p>
    <p>이메일: {{ user.email }}</p>
    <a href="{% url 'users:logout' %}">로그아웃</a>
    <p>다이어리 메인</p>
    <a href="{% url 'diary:search' %}">음식 조회</a>
    <p>달력 추가해서, 누르면 그 날짜 값을 가지고 diary/main 을 다시 호출할 수 있게 달력 만들어줘야 함 자바스크립트 이용 필요할듯</p>
    <h1>Today's Date</h1>
    <p>{{ today }}</p>
    <form id="changeDay" method="get" action="{% url 'diary:main' %}">
        {% csrf_token %}
        <input type="date" name="today" value="{{today}}">
        <button type="submit">날짜변경</button>
    </form>
    {% if date == today %}

    <p>시작체중{{body.start_weight}} 현재체중{{body.current_weight}} 목표체중{{body.target_weight}}</p>

    <form id="changeWeight" method="post" action="{% url 'diary:main' %}">
        오늘의 몸무게
        {% csrf_token %}
        <input type="number" name="today_weight" step="0.1" min="0" max="999" value="{{body.current_weight}}">kg
        <button type="submit">체중 입력</button>
    </form>
    {% else %}
    <!--오늘이 아닌 날을 볼때-->
        {{ today }} 의 몸무게 = {{body.current_weight}}
    {% endif %}
    <p>식사 종합</p>
        <ul> 하루 섭취 가능한 칼로리 및 영양
            <li>칼로리 = {{kcal_info.kcal}}</li>
            <li>탄수화물 = {{kcal_info.carbs}}</li>
            <li>단백질 = {{kcal_info.proteins}}</li>
            <li>지방 = {{kcal_info.fats}}</li>
        </ul>
        <ul> 섭취한 칼로리 및 영양
            <li>칼로리 = {{kcal_result.kcal}}</li>
            <li>탄수화물 = {{kcal_result.carbs}}</li>
            <li>단백질 = {{kcal_result.proteins}}</li>
            <li>지방 = {{kcal_result.fats}}</li>
        </ul>
        <ul> 섭취 가능한 칼로리 및 영양
            <li>칼로리 = {{kcal_available.kcal}}</li>
            <li>탄수화물 = {{kcal_available.carbs}}</li>
            <li>단백질 = {{kcal_available.proteins}}</li>
            <li>지방 = {{kcal_available.fats}}</li>
        </ul>
    {% if date == today %}
    <p>식사 추천</p>
        {% if recommendation_list %}
            {%  for recommendation in recommendation_list %}
            <ul> {{recommendation.food_name}}
                <li>1인분 = {{recommendation.food_weight}}g</li>
                <li>칼로리 = {{recommendation.food_kcal}}kcal</li>
                <li>탄수화물 = {{recommendation.food_carbs}}g</li>
                <li>단백질 = {{recommendation.food_proteins}}g</li>
                <li>지방 = {{recommendation.food_fats}}g</li>
            </ul>
            {% endfor %}
        {% endif %}
    {% endif %}
    <p>식사 리스트</p>
{% if menu_list %}
    {% for menu in menu_list %}
    <ul>
        <li>{{ menu.category }} : {{ menu.time }} </li>
        {% if menu.foodimage %}
            <li><img src="{{menu.foodimage.url}}"></li>
        {% else %}
            <li><img src="/media/static/noimage.jpg"></li>
        {% endif %}
        <li>{{ menu.foodname }}</li>
        <li>섭취량 : {{menu.weight}}g</li>
        <li>칼로리 : {{ menu.kcal }}kcal</li>
        <li>탄수화물 : {{ menu.carbs }}g</li>
        <li>단백질 : {{ menu.proteins }}g</li>
        <li>지방 : {{ menu.fats }}g</li>
        <li><form id="detail" method="get" action="{% url 'diary:detail' %}">
            <input type="hidden" name="menu_id" value="{{menu.menu_id}}">
            <input type="hidden" name="photo_id" value="{{menu.photo_id}}">
            <input type="hidden" name="food_id" value="{{menu.food_id}}">
        <button type="submit">수정</button>
    </form></a></li>
    </ul>
    {% endfor %}

{% else %}
    <p>조회된 식사가 없습니다.</p>
{% endif %}

{% else %}
    <p>로그인이 필요합니다.</p>
{% endif %}



{% endblock %}