{% load static %}
<!doctype html>
<html lang="ko">
<head>
<!--    &lt;!&ndash; Required meta tags &ndash;&gt;-->
<!--    <meta charset="utf-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->
<!--    &lt;!&ndash; Bootstrap CSS &ndash;&gt;-->
<!--    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">-->
<!--    &lt;!&ndash; pybo CSS &ndash;&gt;-->
<!--    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">-->
    <title>베이스!</title>
</head>
<body>
<!-- 기본 템플릿 안에 삽입될 내용 Start -->
{% block content %}
{% endblock %}
<!-- 기본 템플릿 안에 삽입될 내용 End -->
</body>
</html>
